body
{
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: bold;
	font-family: PT Sans Bold;
}
.main-header
{
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Bold;
}
